<script type="text/x-handlebars">
  <div id="container">
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="index">
<h1>Raffler</h1>

<div>
  {{ render "new_entry" }}
  {{ render "entries" }}

  <button {{ action "drawWinner" }}>Draw Winner</button>
</div>
</script>

<script type="text/x-handlebars" data-template-name="new_entry">
  <form>
    {{view Ember.TextField valueBinding="name"}}
    <input type="submit" value="Add" {{ action "add" }}/>
  </form>
</script>

<script type="text/x-handlebars" data-template-name="entries">
  <ul>
    {{#each entry in controller }}
    <li>{{ entry.name }}
      {{#if entry.winner }}
      <span {{ bindAttr class=":winner entry.isLastWinner:highlight" }}>WINNER</span>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</script>

